header {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 0.4rem;
}

#contenedor__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.nav__tittle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-blanco);
}

#nav__lista {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav__links {
    text-decoration: none;
    color: var(--color-blanco);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: var(--borderRadius);
    transition: 0.3s;
}

.nav__links:hover {
    background-color: var(--color-texto);
    box-shadow: var(--shadow);
}